.env

# Игнорировать тестовые файлы и Jupyter файлы
test*.py
test*.ipynb

# Игнорировать кэш Python
__pycache__/
*.pyc

# Игнорировать папки tests/ и .vscode/
tests/
.vscode/
word/

# Временный файл
tempCodeRunnerFile.py

# Файлы для логирования
*.log