.env

# Игнорировать тестовые файлы и Jupyter файлы
test*.py
test*.ipynb

# Игнорировать кэш Python
__pycache__/
*.pyc

# Игнорировать папки tests/ и .vscode/
.vscode/
word/

# Временный файл
tempCodeRunnerFile.py

# Файлы для логирования
*.log

# Игнорировать временные файлы pytest
*.pytest_cache/

# Игнорировать определенные файлы в папке tests
tests/**/__pycache__/
tests/**/.pytest_cache/

# Исключить из игнорирования важные тестовые файлы
!tests/answers_tests/
!tests/questions_tests/
!tests/test_setDocParamsValues/
!tests/test_wordFiles/
!tests/test_wordFilesResult/