<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Document Processing - Step 2</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">GOSTRighter</a>
    </nav>
    <div class="container mt-5">
        <h1 class="text-center">Второй этап</h1>
        <div class="text-center border-box">
            Загрузите Word документ для редактирования
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} mt-4" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form id="upload-word-form" action="/upload_word" method="post" enctype="multipart/form-data" class="mt-4">
            <div class="form-group">
                <label for="word-file-upload" class="custom-file-upload">
                    <i class="fa fa-cloud-upload"></i> Выберите файл
                </label>
                <input id="word-file-upload" type="file" class="form-control-file" name="word_file" accept=".docx" required onchange="this.form.submit()">
            </div>
        </form>
        {% if word_file_url %}
        <div class="mt-4">
            <h2>Загруженный документ:</h2>
            <iframe src="{{ word_file_url }}" width="100%" height="600px"></iframe>
        </div>
        <form id="process-form" action="/process" method="post" class="mt-4">
            <button type="submit" class="btn btn-primary btn-block">Преобразовать</button>
        </form>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
